@import "tailwindcss";

li {
  list-style: none;
}

p,
 span,
a,
li,
ul,
button,
h2,
h3,
h4,
input,
textarea {
  font-family: sans-serif;
}
/* ====================================================================== */
@media (max-width: 1024px) {
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-template-rows: repeat(2, 200px);
    gap: 19px;
    grid-template-areas:
      "box1 box2 box4 box5"
      "box1 box3 box4 box6";
  }
}
@media (min-width: 768px) {
  .custom-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
      "box1 box1 box1 empty"
      "box2 box4 box5 empty"
      "box3 box4 box6 empty";
  }
}

.custom-grid {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 200px);
  grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4"
    "box5"
    "box6";
}
/* ====================================================================== */

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}

::selection {
  background: #9f4103;
  color: white;
}

@layer components {
  .before_Image {
    @apply before:content-[''] before:absolute before:bg-[url('/images/2.jpg')] before:bg-cover before:w-full before:h-full before:bg-center before:brightness-50 before:-z-10;
  }

  .Fav_item_Card_behind {
    @apply before:content-[''] before:absolute before:bg-amber-950 before:bg-cover before:w-[35%] before:h-[60%] before:left-[15%] before:-top-[2%] before:-z-10;
  }

  .links_hover_Color {
    @apply hover:text-amber-400 transition-all duration-500 text-white;
  }

  .main_text {
    @apply font-bold font-serif text-amber-900;
  }

  .input_style {
    @apply w-full border border-gray-300 rounded-full px-4 py-3 focus:outline-none transition-all duration-500 hover:border-amber-900;
  }

  .new_Post {
    @apply border border-slate-100 px-4 py-2 hover:bg-amber-400 transition-all duration-500 cursor-pointer;
  }
  .input_style_login {
    @apply w-full px-4 py-3 rounded-full  bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-600;
  }
  .primary_Font {
  }

  .border_animaion {
    @apply absolute left-0 top-0 w-[3px] h-full  transform translate-y-full group-hover:translate-y-0 transition-transform duration-700;
  }
}

/* ======================= CONFIGURAIONS ========================= */

@theme {
  --color-light-white: #ffffff;
  --color-yel-color: #f4b323;
  --color-main-color: #9f4103;
  --font-main: var(--font_Spicy_Rice);
  --font-primary: var(--font-Roboto);
  --breakpoint-*: initial;
  --breakpoint-tlg: 1200px;
  /* default one */
  --breakpoint-mini-sm: 575px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-2xmd: 960px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

/* ================================ border anitaoion ====================== */

/* ========================================================================= */
